* {
    margin: 0;
    padding: 0;
}

:root {
    --board-width: 300px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#playersPanel {
    margin: 1rem 2rem;

    display: flex;
    gap: 1rem;
    justify-content: center;
}

#playersPanel .playerCard {
    padding: 1rem;
    background-color: lightgray;
    border: 3px solid lightgray;
}

#playersPanel .playerCard.currentTurn {
    border: 3px solid lightgreen;
}

#restartButton {
    padding: 1rem;
    background-color: pink;
    border: 1px solid purple;
    border-radius: 10px;
}

#gameBoard {
    display: flex;
    flex-direction: column;
    max-width: var(--board-width); 
}

#gameBoard .boardRow {
    display: flex;
    min-height: calc(var(--board-width) / 3);
}

#gameBoard .boardRow .cell {
    font-size: 5rem;
    min-width: calc(var(--board-width) / 3);
}

